header {
  min-height: 8vh;
  position: relative;
  background-color: #b9f3fc;
  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .title {
      color: goldenrod;
    }
    .evol {
      width: 15%;
      padding: 0;
      margin: 0;
    }
  }
}
