header {
  min-height: 10vh;
  position: relative;
  background-color: orangered;
  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .title {
      color: yellow;
    }
    .evol {
      width: 29%;
      padding: 0;
      margin: 0;
    }
  }
}
